*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bg-nav
{

  background-image:linear-gradient(rgb(22,43,99), rgb(40,68,141));
  border-bottom: rgb(191, 211, 16) solid 5px;
}
.bg-border
{
  border-top: rgb(191, 211, 16) solid 5px;
  
}

.nav-font
{
  color:rgb(191, 211, 16) !important;
  font-family: 'Mochiy Pop P One', sans-serif !important;
  
}

.navbar-light
{
    color:rgb(191, 211, 16) !important;
    
    
}

.navbar-light .navbar-toggler-icon {
    border-color:rgb(68, 99, 192);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 68, 99, 192.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-light .navbar-toggler
  {
    border-color:rgb(68, 99, 192);
    color:rgb(115, 139, 209);
  } 
  .menu-font
  {
    color:white !important;
    font-size: 16px;
    font-weight:300;
  }

  .row>*
  {
    padding-right: 0;
    padding-left:0;
  }
 
  .l-spacing{
    letter-spacing: 5px;
    color:rgb(191, 211, 16);
  }
  .blue{
    color:rgb(40,68,141);
  }

 
  .border-promocje:hover{
    color:rgb(191, 211, 16) !important;
  }
  .border-cennik:hover 
  {
    color:rgb(191, 211, 16) !important;
  }
  .fs-1
  {
    font-size: 3.5rem !important;
  }
  .text-green{
    color:rgb(191, 211, 16) !important;
  }
  .text-green:hover{
    color:greenyellow !important;
  }

  .menu-font:hover
  {
    color:rgb(191, 211, 16) !important;
    background-color:rgb(68, 99, 192);
   
  }
  @media screen and (min-width: 992px) 
  {
  .rounded-start{
    border-radius: 15px 0 0 15px !important;
  }
  .rounded-end
  {
    border-radius: 0 15px 15px 0 !important;
  }
  .ms-lg-7{
    margin-left:55px;
  }
  .ms-lg-6
  {
    margin-left:40px
  }
  .img-50
  {
    height: 700px !important;
    width: 100% !important;
  }
  .margin-s-15{
    margin-left:40px;
  }
  .border-cennik
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 125px;
    padding-right: 125px;
    background-color:rgb(40, 92, 141);

   
  }
  .border-promocje
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 94px;
    padding-right: 94px;
    background-color:rgb(40, 92, 141);
    
  }

  

  }

  @media screen and (max-width: 992px)
   {

    .border-cennik
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 62px;
    padding-right: 62px;
    background-color:rgb(40, 92, 141);
   
  }
  .border-promocje
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 31px;
    padding-right: 31px;
    background-color:rgb(40, 92, 141);
    
  }
   
    .rounded-start
    {
      border-radius: 15px 15px 0  0 !important;
     
    }
    .rounded-end
  {
    border-radius: 0 0 15px 15px !important;
   
  }
  .img-50
  {
    height: 400px;
    width: 100%;
  }
  .nav-tab
  {
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }


 
  
 
  }

 
 