*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list-none
  {
    list-style-type: none;
  }
 
.klik{
  color:rgb(191, 211, 16) !important;
}
.border-map
{
  border-top: rgb(191, 211, 16) solid 5px;
  border-bottom: rgb(191, 211, 16) solid 5px;
}

.obrazek
{
  width: 100%;
  height: 600px;

}
.h-100{
  min-height: 100px !important;
}
.bg-nav
{

  background-image:linear-gradient(rgb(22,43,99), rgb(40,68,141));
  border-bottom: rgb(191, 211, 16) solid 5px;
}
.bg-border
{
  border-top: rgb(191, 211, 16) solid 5px;
  
}

.nav-font
{
  color:rgb(191, 211, 16) !important;
  font-family: 'Luckiest Guy', cursive !important;
  font-size: 1.4rem !important;
}

.navbar-light
{
    color:rgb(191, 211, 16) !important;
       
}
.show
  {
    display:inline-block !important;
    opacity:1 !important;
    visibility: visible !important;
    
  }
#back {
  display: inline-block;
  background-color: rgb(191, 211, 16);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  text-decoration: none;
}
#back:hover {
  cursor: pointer;
  background-color: #333;
}
#back:active {
  background-color: #555;
}
#back::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: lighter;
  font-style: lighter;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}

.back-item {
  position: fixed;
  bottom: 0;
  right:0;
  margin-right: 10px;
  margin-bottom:10px;
  border-collapse: collapse;
}
.c-button{
  border:none;
  background-color:transparent;
  text-align: center;
}
.icon-menu{
  
  color:#1C6EA4;
  font-size: 32px;
  
}

.table{
  cursor:pointer;
}


  .menu-font
  {
    color:white !important;
    padding-left:20px !important;
    padding-right: 20px !important;
  }
  .row>*
  {
    padding-left: 0;
    padding-right: 0;
  }

 
  .l-spacing{
    letter-spacing: 5px;
    color:rgb(191, 211, 16);
  }
  .blue{
    color:rgb(40,68,141);
  }

 
  .border-promocje:hover{
    color:rgb(191, 211, 16) !important;
    background-image:linear-gradient(rgb(22,43,99), rgb(40,68,141));
  }
  .border-cennik:hover 
  {
    color:rgb(191, 211, 16) !important;
    background-image:linear-gradient(rgb(22,43,99), rgb(40,68,141));
  }
  .fs-1
  {
    font-size: 3.5rem !important;
  }
  .text-green{
    color:rgb(191, 211, 16) !important;
  }
  .text-green:hover{
    color:greenyellow !important;
  }

  .menu-font:hover
  {
    color:rgb(191, 211, 16) !important;
    background-color:rgb(68, 99, 192);
   
  }

  .circle {
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #50edbb;
  }

  
  @media screen and (min-width:768px) 
  {
   
  .ms-lg-7{
    margin-left:55px;
  }
  .ms-lg-6
  {
    margin-left:40px
  }

  .margin-s-15{
    margin-left:40px;
  }
  .border-cennik
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 125px;
    padding-right: 125px;
    background-color:rgb(40, 92, 141);

   
  }
  .border-promocje
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 94px;
    padding-right: 94px;
    background-color:rgb(40, 92, 141);
  }
  .bg-image-cennik
  {
    background-image: url(../img/ubrania-2.jpg);
    width:100%;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size: 200%;
    background-attachment:fixed;
    background-position: center;   
  }
  .bg-image
  {
    background-image: url(../img/garnitury.jpg);
    width:100%;
    min-height: 500px;
    background-size:150%;
    background-attachment:fixed;
    background-position: center;

 
  }

  .bg-grafiki{
    background-image: url(../img/pralnia.jpg);
    width:100%;
    min-height: 500px;
    background-size:150%;
    background-attachment:fixed;
    background-position: center;
  }


  }


  

  @media screen and (max-width:768px)
   {
    .obrazek
    {
      width: 100%;
      height: 300px;
    }
    .border-cennik
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 62px;
    padding-right: 62px;
    background-color:rgb(40, 92, 141);
   
  }
  
  
  .border-promocje
  {
    border: 4px outset #1C6EA4;
    border-radius: 7px 7px 7px 7px;
    padding-left: 39px;
    padding-right: 39px;
    background-color:rgb(40, 92, 141);
    
  }
 
  .bg-image-cennik
  {
    background-image: url(../img/ubrania-2.jpg);
    width:100%;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size:350%;
    background-attachment:fixed;
    background-position: center;   
  }
  .bg-image
  {
    background-image: url(../img/garnitury.jpg);
    width:100%;
    height: 500px;
    background-size:350%;
    background-attachment:fixed;
    background-position: center;
  }
  .bg-grafiki
  {
    background-image: url(../img/pralnia.jpg);
    width:100%;
    height: 500px;
    background-size:350%;
    background-attachment:fixed;
    background-position: center;
  }
 
  }

  @media screen and (max-width:1199px)
  {
    .rounded-start
    {
      border-radius: 15px 15px 0  0 !important;
     
    }
    .rounded-end
  {
    border-radius: 0 0 15px 15px !important;
   
  }
  .nav-tab
  {
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
  .rozmiar-s{
    width:80px !important;
    height: 80px !important;
  }
  .w-table{
    width: 100%;
  }
 
  }
 
  @media screen and (min-width:1200px)
  {
    .rounded-start
    {
      border-radius: 15px 0 0 15px !important;
    }
    .rounded-end
    {
      border-radius: 0 15px 15px 0 !important;
    }
   #button{
     display: none;
   }
   .w-table{
    width: 50%;
  }
  }

  
 

 